.navbar{
  display:flex;
  position:fixed;
  top:0px;
  left:0px;
  background-color: white;
  border-bottom:1px solid;
  max-width: 100%;
}
.navbar h3{
  margin-top:10px;
  margin-left:-70px;
  transform: rotate(90deg);
  font-size: 20px;
  color:brown;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar img{
  margin-top:-10px;
  width:130px;
}
.navbar-elements{
  display:flex;
  margin-left:1400px;
  margin-top:40px;
  padding-right:50px;
}
.navbar a{
  margin-left:60px;
  margin-top:15px;
  text-decoration: none;
  color:brown;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar-elements img{
  height:40px;
  width:40px;
}
.classes{
  background-color:whitesmoke;
  margin-top:120px;
  max-width:100%;
  display:flex;
  flex-wrap: wrap;
  padding-bottom:15px;
}
.classes a{
  padding: 10px;
  text-decoration: none;
  color:brown;

  
}
.subdiv{
  margin-left:500px;
}
.class-preview{
  display: flex;
  background-color: rgb(201, 201, 201);
  border-radius: 10px;
  margin-left: 20px;
  margin-top:25px;
  height: 45px;
  font-size:20px;
}
.class-preview:hover{
  background-color: antiquewhite;
}
.class-preview a{
  padding: 10px;
  text-decoration: none;
  color:rgb(165, 42, 42);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main-page-in-classes{
  display:flex;
  background-color: rgb(201, 201, 201);
  border-radius: 10px;
  margin-left: 20px;
  margin-top:25px;
  height: 45px;
  font-size:20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main-page-in-classes:hover{
  background-color: antiquewhite;
}
.main-page-in-classes a{
  margin-left:-15px;
}
.tools{
  background-color: whitesmoke;
  height:1000px;
  width:70px;
  border-top:1px solid;
  display:inline-block;
}
.tools-preview{
  display:inline-flex;
  margin-top:60px;
  background-color:rgb(165, 165, 165);
  border-radius:10px;
  height:50px;
  margin-left:10px;
  width:50px;
  transition: width 1s ease;
  flex-wrap: nowrap;
}
.tools-preview:hover{
  width:auto;
}
.tools-preview a{
  display: flex;
  text-decoration: none;
}
.tools-preview-img{
  height:40px;
  width:40px;
  margin-left:5px;
  margin-top:5px;
}
.tools-preview-desc{
  display:flex;
  margin-left:-60px;
  margin-top:5px;
  color:black;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:22px;
  opacity:0;
  visibility:hidden;
  transition:opacity 1s ease,margin-left 0s,margin-top 0.5s ease,visibility 0s ease;
  padding-right:10px;
  word-wrap:initial;
}
.tools-preview:hover .tools-preview-desc{

  display:inline-block;
  opacity:1;
  margin-top:13px;
  visibility:visible;
  margin-left:20px;
  white-space: nowrap;
 
}
.all-notifications{
  background-color: rgb(180, 180, 180);
  position:absolute;
  height:300px;
  width:300px;
  right:280px;
  border-radius:10px;
  display:none;
}
.each-notification{
  border-radius: 10px;
  background-color: aqua;
  height:70px;
  width:275px;
  margin-top:10px;
  margin-left:10px;
}
.each-notification a{
  margin-left:10px;
  display:block;
}
.each-notification span{
  display:block;
  margin-left:10px;
}
.notifications:hover .all-notifications{
  display:block;
}
